.window {
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 275px auto;
}

.project-panel {
    grid-column-start: 1;
    grid-column-end: 2;

    background: white;

    display: grid;
    grid-template-rows: 75px 50px 50px 1fr;
}

.task-bg {
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100%;

    background: rgba(235, 222, 106, 0.479);
    text-align: center;

    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    grid-template-rows: 50px 75px 1fr 50px;
}



.SignOut {
    grid-row-start: 1; 
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 6;

    margin-top: 20px;
    text-align: right;
}

.User {
    border: 1px solid white;
    background: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;    
}

.signOut {
    text-align: center;
}

.NewProject {
    border-bottom: 1px solid gray;
    color: black;
    text-align: center;
    padding: 0;
}

#NewProjectBtn {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background: gray;
    cursor: pointer;
}

#NewProjectBtn:hover {
    background: rgb(95, 95, 95);
}
.TaskListDiv {
    
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    background: white;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-rows: 75px 1fr;
}

.new-task-btn {
    border-radius: 5px;
    margin: 10px;
    margin-top: 15px;
    margin-left: 20px;
}

.sectionBtn {
    border-radius: 5px;
    margin-top: 15px;
}

.TaskInfo {
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    background: white;
    display: none;
}

.Tasks-header-table {
    border-bottom: 2px solid #e0e6e8;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    background: white;
    padding-top: 10px;
}


.task-info-header-table {
    grid-row-start: 1; 
    grid-row-end: 2;
    border-bottom: 1px solid #e0e6e8;
    padding-top: 10px;
    padding-right: 20px;
    float: right;
}

.task-list {
    overflow-y: scroll;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

    border: 20px solid white;

    background: white;
}

.task-list.is-open {
    overflow-y: scroll;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    border: 20px solid white;

    background: white;
}


.task-info {
    display: none;
}

.task-info.is-open {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;

    border-left: 2px solid #e0e6e8;

    background: white;
    display: grid;

    grid-template-rows: 75px 200px auto;
}   