.TaskDescription {
    width: 80%;
    height: 300px;
    margin-left: 50px;
    resize: none;
    border-radius: 5px;
    padding: 7px;
    font-size: 20px;
    padding-left: 10px;
}

.labelName {
    margin: 20px;
    font-Size: 25px;
    margin-left: 50px;
}