.project {
    outline: none;
    resize: none;
    font-size: 20px;
    padding: 10px;
    height: 50px;
    vertical-align: middle;
    margin: 5px;
    border: 2px solid gray;
    width: 80%;
    cursor: pointer;
}