.SignOut {
    grid-row-start: 1; 
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;

    margin-top: 20px;
    text-align: right;
}

.Task-Panel {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(3, 161, 253, 0.281);

    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 8% 40% 5% 40% 8%;
}

.TaskListDiv {
    border-radius: 10px;
    overflow: scroll;
    box-shadow: 0 1px 3px 0 rgba(0, 204, 255, 0.062);
    background: white;

    grid-row-start: 2; 
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 100%;
}

.addBtn {
    border-radius: 5px;
    margin: 10px;
    margin-top: 15px;
    margin-left: 20px;
}

.TaskInfo {
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    background: white;

    grid-row-start: 2; 
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;

    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 
}

.Tasks-header-table {
    grid-row-start: 1; 
    grid-row-end: 0;
    border-bottom: 1px solid #e0e6e8;
}

.Tasks {
    padding: 10px;
}

.TaskInfo-header-table {
    grid-row-start: 1; 
    grid-row-end: 0;
    border-bottom: 1px solid #e0e6e8;
    padding-top: 10px;
    padding-right: 20px;
    float: right;
}